*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .navbar{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #28282a;
  padding: 10px 20px;
  position:relative;
  }

  .links{
   display: flex;
  }
  .links li{
  list-style-type: none;
  }
  .links li a{
   padding: 20px;
   font-size: 1.25rem;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    transition: all 3s ease-in;
    text-align: center;
    }

  .links li a:hover{
  color: #12DBF6;
  text-decoration: un;
   }

  .logo{
   width: 40px;
  height: 40px;
  }

  .logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .hireMe{
  padding: 10px 10px;
  background-color:#12dbf6;
  color: #000000;
  font-size: 1rem;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
  width: max-content;
    }

  .menu{
  width: 40px;
  height: 40px;
  display:none;
  }

  .menu .fa-bars{
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding: 10px 20px;
 }

/* Hero Section */
.container{
  width: 100%;
  background-image:url(images/bg2.jfif) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.profile{
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profiledetails h4{
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  color: #12dbf6;
}
.profiledetails h1{
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: #12dbf6;
}

.profiledetails h1 span{
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color:#ffffff;
}

.profiledetails p{
  font-size: 1.24rem;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  color:#ffffff;
}

.profilepic{
  width: 400px;
  height: 400px;
  padding: 30px 20px;
  border-radius: 50%;
}

.profilepic img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.freelance{
  width: 60%;
  margin: auto;
}
.full p{
  width: 400px;
  border: 2px solid #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: sans-serif;
  background-color: transparent;
  padding: 10px 20px;
  color: #ffffff;
  text-align: center;
  margin: 30px auto;
  border-radius: 20px;
}

.full h1{
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 20px;
  color: #ffffff;
  text-align: center;
}

.full h1 span{
  font-size: 2.25rem;
  color: #12dbf6;
}
.vision p{
   font-size: 1rem;
  font-weight:400;
  font-family: sans-serif;
  padding: 10px 20px;
  color:lightgray;
  text-align: center;
  padding: 20px;
}

.command{
  margin: auto;
}
.command button{
  width: 300px;
  padding: 10px 20px;
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight:600;
  cursor: pointer;
}

.command .view{
background-color: #12dbf6;
border: none;
margin: 20px;
}
.command .contact{
background-color: transparent;
border:2px solid #ffffff;
color: #ffffff;
margin: 20px;
}

.media{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto;
  padding: 20px 20px;
  animation: move 4s ease-in-out infinite;
}
.social{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.social img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.footer{
  width: 100%;
  background-color: #28282a;
}
.footer p{
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 400px;
  color: gray;
  text-align: center;
  padding: 20px 20px;
}
@keyframes move{
  0%{transform: translateX(0px); opacity: 0.9;}
  50%{transform: translateX(100px); opacity: 0.5;}
  100%{transform: translateX(-100px); opacity: 0.7;}

}
  @media screen and (max-width: 640px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  .navbar{
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }

  .links{
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #28282a;
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow: hidden;
    text-align: center;
    }

    .links li{
    padding: 30px 20px;
    }

    .links li a{
     font-size: 1rem;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    transition: all 3s ease-in;
    text-align: center;
    }

    .links li a:hover{
    color: #12DBF6;
    text-decoration: un;
    }
    .hire{
    display: none;
    }

    .menu{
    width: 40px;
    height: 40px;
    display:block;
       
    }

.menu i{
width: 100%;
height: 100%;
color: #ffffff;
}
.links{
   transition: all 3s ease-in;
   }
/* main */
.container{
  width: 100%;
  max-width: 100%;
  background-image:url(images/bg2.jfif) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile{
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
}
.profiledetails h4{
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  color: #12dbf6;
}
.profiledetails h1{
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: #12dbf6;
}

.profiledetails h1 span{
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color:#ffffff;
}

.profiledetails p{
  font-size: 1.24rem;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  color:#ffffff;
}

.profilepic{
  width: 300px;
  height: 300px;
}

.profilepic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.freelance{
  width: 100%;
  /* max-width: 100%; */
}
.full p{
  width: 80%;
  border: 2px solid #ffffff;
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
  background-color: transparent;
  padding: 10px 20px;
  color: #ffffff;
  text-align: center;
  margin: 30px auto;
  border-radius: 20px;
}

.full h1{
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 20px;
  color: #ffffff;
  text-align: center;
}

.full h1 span{
  font-size: 2.25rem;
  color: #12dbf6;
}
.vision p{
   font-size: 1rem;
  font-weight:400;
  font-family: sans-serif;
  padding: 10px 20px;
  color:lightgray;
  text-align: center;
  padding: 20px;
}

.command{
  width: 100%;
  margin: auto;
}
.command button{
  width: 150px;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight:600;
  cursor: pointer;
}

.command .view{
background-color: #12dbf6;
border: none;
}
.command .contact{
background-color: transparent;
border:2px solid #ffffff;
color: #ffffff;
}

.media{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto;
  padding: 20px 20px;
  animation: move 4s ease-in-out infinite;
}
.social{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.social img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
}

