*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #28282a;
  padding: 10px 20px;
 position: relative;
}

.links{
  display: flex;
}
.links li{
  list-style-type: none;
}
.links li a{
  padding: 20px;
  font-size: 1.25rem;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  transition: all 3s ease-in;
  text-align: center;
}

.links li a:hover{
  color: #12DBF6;
  text-decoration: un;
}

.logo{
  width: 40px;
  height: 40px;
}

.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hireMe{
  padding: 10px 10px;
  background-color:#12dbf6;
  color: #000000;
  font-size: 1rem;
  font-family: sans-serif;
  cursor: pointer;
}

.menu{
  width: 40px;
  height: 40px;
  display: none;
}

.menu .fa-bars{
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding: 10px 20px;
}


/* Hero Section */
.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#00000031,#00000042), url(images/bg2.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.freelance{
  width: 70%;
  margin: auto;

}

.vision{
  width: 70%;
  margin: auto;
}
.full{
  width: 80%;
  margin: auto;
}

.full p{
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: 400;
  color: lightgrey;
  text-align: center;
  width: 300px;
  border: 1px solid #ffffff;
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent;

}
.full h1{
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin: auto;
   padding: 10px 20px;
}

.full h1 span{
  font-size: 4rem;
  font-family: sans-serif;
  font-weight: bold;
  color:#12dbf6;
  text-align: center;
  margin: auto; 
}
.vision p{
  color:lightgray;
  font-size: 1.25rem;
  font-family: sans-serif;
  text-align: center;
  padding-top: 10px;

}

.command{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px auto;
}
.command .view{
  color: #000000;
  width:200px;
  background-color: #12DBF6;
  padding: 10px 20px;
  font-size: 1.24rem;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  border: none;
  font-weight: 600;
  border-radius: 10px;
}

  .command .contact{
  color: #ffffff;
  width:200px;
  background-color:transparent;
  padding: 10px 20px;
  font-size: 1.24rem;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ffffff;
  font-weight: 600;
  border-radius: 10px;
  }

  .media{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px auto;
    animation: move 3s ease-in-out infinite;
   
  }

 .media .social{
  width: 40px;
  height: 40px;
  border-radius: 50%;
 }

 .media .social img{
  width:100%;
  height:100%;
  border-radius: 50%;
  object-fit: cover;
 }


 @keyframes move{
  0% {transform: translateX(0px); opacity: 0.9;}
  50%{transform: translateX(200px); opacity: 0.6;}
  100%{transform: translateX(-100px); opacity: 0.4;}
 }


 /* @media screen */
 @media screen and (max-width:640px) {
      .navbar{
      width: 100%;
      height: 100vh;
      height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #28282a;
      padding: 10px 20px;
    }

           .links{
            width: 100%;
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            background-color: #28282a;
            display: flex;
            flex-direction: column;
            gap: 0;
            overflow: hidden;
            text-align: center;
          }

          .links{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .links li{
          list-style-type: none;
          padding: 30px 20px;
        }

        .logo{
          width: 40px;
          height: 40px;
        }

        .logo img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .hireMe{
          padding: 10px 10px;
          background-color:#12dbf6;
          color: #000000;
          font-size: 1rem;
          font-family: sans-serif;
          cursor: pointer;
        }
          .links li a{
          font-size: 1rem;
          font-family: sans-serif;
          cursor: pointer;
          font-weight: 600;
          text-decoration: none;
          color: #ffffff;
          transition: all 3s ease-in;
          text-align: center;
        }

        .links li a:hover{
          color: #12DBF6;
          text-decoration: underline;
        }
        .hire{
          display: none;
        }

        .menu{
          width: 40px;
          height: 40px;
          display:block;
          padding-left:120px;
        }

        .menu i{
          width: 100%;
          height: 100%;
          color: #ffffff;
        }
        .links{
          transition: all 3s ease-in;
        }
          /* Hero Section */
        .hero{
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(#00000031,#00000042), url(images/bg2.jfif);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
          }

          .freelance{
            width: 100%;
            margin: auto;

          }

          .vision{
            width: 100%;
            margin: auto;
          }
          .full{
            width: 100%;
            margin: auto;
          }

          .full p{
            width: 100%;
            font-size: 1rem;
            font-family: sans-serif;
            font-weight: 400;
            color: lightgrey;
            text-align: center;
            border: 1px solid #ffffff;
            margin: auto;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: transparent;

          }
          .full h1{
            font-size: 2rem;
            font-family: sans-serif;
            font-weight: 600;
            color: #ffffff;
            text-align: center;
            margin: auto;
            padding: 10px 20px;
          }

          .full h1 span{
            font-size: 2.25rem;
            font-family: sans-serif;
            font-weight: bold;
            color:#12dbf6;
            text-align: center;
            margin: auto; 
          }
          .vision p{
            color:lightgray;
            font-size: 1rem;
            font-family: sans-serif;
            text-align: center;
            padding-top: 10px;

          }

          .command{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 30px auto;
          }
          .command .view{
            color: #000000;
            width:200px;
            background-color: #12DBF6;
            padding: 10px 20px;
            font-size: 1rem;
            font-family: sans-serif;
            cursor: pointer;
            text-align: center;
            border: none;
            font-weight: 600;
            border-radius: 10px;
          }

            .command .contact{
            color: #ffffff;
            width:200px;
            background-color:transparent;
            padding: 10px 20px;
            font-size: 1rem;
            font-family: sans-serif;
            cursor: pointer;
            text-align: center;
            border: 1px solid #ffffff;
            font-weight: 600;
            border-radius: 10px;
            }

            .media{
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 20px;
              margin: 10px auto;
              animation: move 3s ease-in-out infinite;
            
            }

          .media .social{
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          .media .social img{
            width:100%;
            height:100%;
            border-radius: 50%;
            object-fit: cover;
          }


          @keyframes move{
            0% {transform: translateX(0px); opacity: 0.9;}
            50%{transform: translateX(50px); opacity: 0.6;}
            100%{transform: translateX(-50px); opacity: 0.4;}
          }
 
 }