        *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        .navbar{
          width: 100%;
          height: 70px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          background-color: #28282a;
          padding: 10px 20px;
          position:relative;
        }

        .links{
          display: flex;
        }
        .links li{
          list-style-type: none;
        }
        .links li a{
          padding: 20px;
          font-size: 1.25rem;
          font-family: sans-serif;
          cursor: pointer;
          font-weight: 600;
          text-decoration: none;
          color: #ffffff;
          transition: all 3s ease-in;
          text-align: center;
        }

        .links li a:hover{
          color: #12DBF6;
          text-decoration: un;
        }

        .logo{
          width: 40px;
          height: 40px;
        }

        .logo img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .hireMe{
          padding: 10px 10px;
          background-color:#12dbf6;
          color: #000000;
          font-size: 1rem;
          font-family: sans-serif;
          cursor: pointer;
        }

        .menu{
          width: 40px;
          height: 40px;
          display:none;
        }

        .menu .fa-bars{
          width: 100%;
          height: 100%;
          color: #ffffff;
          padding: 10px 20px;
        }

        /* Contact Page */
        .contact{
          width: 100%;
          background-color:#3f3f41;
        }
          .contactFlex{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: auto;
          }

          .detailslocation{
            width:40%;
            background-color:#3f3f41;
          }
            .detailsGride{
              width: 100%;
              display: grid;
              grid-template-columns: 1fr;
              gap: 20px;
            }

            .child{
              width: 100%;
              background-color:#28282a;
            }
            .media{
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px; 
          }
            .media .social{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              cursor: pointer;
            }

            .media .social img{
              width:100%;
              height:100%;
              border-radius: 50%;
              object-fit: cover;
            }

            .contactmessage{
              width: 50%;
              background-color: #3f3f41;
            }
            
            .contactinfor{
              width: 50%;
              margin: auto;
              padding: 20px 30px;
              
            }
            .contactinfor h3{
              text-align: center;
              font-size: 1rem;
              font-family: sans-serif;
              font-weight: bold;
              color: #12dbf6;
              padding: 10px 20px;
            }

            .contactinfor p{
              text-align: center;
              font-size: 1.25rem;
              font-family: sans-serif;
              font-weight: bold;
              color:gray;
              padding: 10px 20px;
            }

            .contactinfor h1{
              text-align: center;
              font-size: 3.25rem;
              font-family: sans-serif;
              font-weight: bold;
              color:#ffffff;
              padding: 10px 20px;
            }

             .contactinfor h1 span{
              color:#12dbf6;
             }
            .child h2{
              font-size: 1rem;
              font-family: sans-serif;
              font-weight: 400;
              color: #ffffff;
              padding: 10px 20px;
            }

            .infor h1{
              font-size: 1.5rem;
              font-family: sans-serif;
              font-weight: bold;
              color: #12dbf6;
              padding: 10px 20px;
            }
             .child p{
              font-size: 1rem;
              font-family: sans-serif;
              font-weight: 400;
              color: #ffffca;
              padding: 10px 20px;

            }

            .follow h2{
              font-size: 1.5rem;
              font-family: sans-serif;
              font-weight: bold;
              color: #ffffff;
              padding: 10px 20px;
            }
            .icons{
              width: 40px;
              height: 40px;
            }

            .icons i{
              width: 40px;
              height: 40px;
              color: #12DBF6;
              margin-left: 20px;
              padding:20px 20px;
            }
            .box{
              width: 100%;
              margin-left: 20px;
              padding: 20px 30px;
            }
            label{
              display: block;
              font-size: 1rem;
              font-family: sans-serif;
              font-weight: 400;
              padding-top: 20px;
              color: #fffffa;
            }
            input{
              border: none;
              outline: none;
              padding: 10px 20px;
              width: 70%;
              padding: 20px;
              background-color:#28282a;
              color: #ffffff;
            }
            textarea{
             border: none;
              outline: none;
              padding: 10px 20px;
              width: 70%;
              padding: 20px;
              background-color:#28282a;
              color: #ffffff; 
            }
        
            .send{
              margin-left: 40px;
              padding: 20px 30px;
            }
            .send button{
              width: 300px;
              font-size: 1.25rem;
              font-family: sans-serif;
              font-weight: bold;
              color:#000000;
              padding: 20px 30px;
              background-color: #12dbf6;
              border: none;
              cursor: pointer;
              border-radius: 10px;
             
            }

            .footer{
              width: 100%;
              background-color: #28282a;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              gap: 20px;
            }

            .copyrigh{
              width: 40%;
            }

           .copyright p{
            font-size: 1rem;
            font-family: sans-serif;
            color: lightgray;
            padding: 20px 30px;
           }
            
            .media1{
              width: 40%;
              display: flex;
              flex-direction: row;
              justify-content:center;
              align-items: center;
              gap: 20px;
              padding: 20px 30px;
            }

            .icon{
              width: 40px;
              height: 40px;
            }
            .icon img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
              cursor: pointer;
            }

        /* @media */

        @media screen and (max-width:640px) {
          .links{
            width: 100%;
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            background-color: #28282a;
            display: flex;
            flex-direction: column;
            gap: 0;
            overflow: hidden;
            text-align: center;
          }

          .links li{
            padding: 30px 20px;
          }

          .links li a{
          font-size: 1rem;
          font-family: sans-serif;
          cursor: pointer;
          font-weight: 600;
          text-decoration: none;
          color: #ffffff;
          transition: all 3s ease-in;
          text-align: center;
        }

        .links li a:hover{
          color: #12DBF6;
          text-decoration: un;
        }
        .hire{
          display: none;
        }

        .menu{
          width: 40px;
          height: 40px;
          display:block;
          /* padding-left: 120px; */
        }

        .menu i{
          width: 100%;
          height: 100%;
          color: #ffffff;
        }
        .links{
          transition: all 3s ease-in;
        }

        /* contact */
         .contact{
          width: 100%;
          background-color:#3f3f41;
        }
          .contactFlex{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: auto;
          }

          .detailslocation{
            width:100%;
            background-color:#3f3f41;
          }
            .detailsGride{
              width: 100%;
              display: grid;
              grid-template-columns: 1fr;
              gap: 20px;
            }

            .child{
              width: 100%;
              background-color:#28282a;
            }
            .media{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px; 
          }
            .media .social{
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }

            .media .social img{
              width:100%;
              height:100%;
              border-radius: 50%;
              object-fit: cover;
            }

            .contactmessage{
              width: 100%;
              background-color: #3f3f41;
            }
            
            .contactinfor{
              width: 100%;
              margin: auto;
              padding: 20px 30px;
              
            }
            .contactinfor h3{
              font-size: 1.25rem;
              font-family: sans-serif;
              font-weight: bold;
              color: #12dbf6;
              padding: 10px 20px;
            }

            .contactinfor p{
              font-size: 1rem;
              font-family: sans-serif;
              font-weight: bold;
              color:gray;
              padding: 10px 20px;
            }

            .contactinfor h1{
              font-size: 2rem;
              font-family: sans-serif;
              font-weight: bold;
              color:#ffffff;
              padding: 10px 20px;
            }

             .contactinfor h1 span{
              color:#12dbf6;
             }
            .child h2{
              font-size: 1rem;
              font-family: sans-serif;
              font-weight: 400;
              color: #ffffff;
              padding: 10px 20px;
            }

            .infor h1{
               font-size: 1.5rem;
              font-family: sans-serif;
              font-weight: bold;
              color: #12dbf6;
              padding: 10px 20px;
            }
             .child p{
              font-size: 1rem;
              font-family: sans-serif;
              font-weight: 400;
              color: #ffffca;
              padding: 10px 20px;

            }
            .icons{
              width: 40px;
              height: 40px;
            }

            .icons i{
              width: 40px;
              height: 40px;
              color: #12DBF6;
              margin-left: 20px;
              padding: 20px;
            }
            .box{
              width: 90%;
              padding: 10px 20px;
            }
            label{
              display: block;
              font-size: 1rem;
              font-family: sans-serif;
              font-weight: 400;
              padding: 10px 20px;
              color: #fffffa;
            }
            input{
               width: 100%;
              font-size: 1rem;
              font-family: sans-serif;
              font-weight: 400;
              border: none;
              outline: none;
              padding: 10px;
              background-color:#28282a;
              color: #ffffff;
              padding: 20px 30px;
            }
            .follow h2{
              font-size: 1.25rem;
              font-family: sans-serif;
              font-weight: bold;
              color: #ffffff;
              padding: 10px 20px;
            }
            textarea{
              font-size: 1rem;
              font-family: sans-serif;
              font-weight: 400;
              width: 90%;
              border: none;
              outline: none;
              padding: 20px 30px;
              background-color:#28282a;
              color: #ffffff; 
            }
        
            .send{
              width: 90%;
               padding: 20px 30px;
            }
            .send button{
              width: 90%;
              font-size: 1.25rem;
              font-family: sans-serif;
              font-weight: bold;
              color:#000000;
              padding: 10px 20px;
              background-color: #12dbf6;
              border: none;
              cursor: pointer;
              border-radius: 10px;

            }
          .footer{
              width: 100%;
              background-color: #28282a;
              display: flex;
              flex-direction: column;
              justify-content:center;
              align-items: center;
              gap: 20px;
            }

            .copyrigh{
              width: 100%;
            }

           .copyright p{
            font-size: 1rem;
            font-family: sans-serif;
            color: lightgray;
            padding: 20px 30px;
           }
            
            .media1{
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content:center;
              align-items: center;
              gap: 20px;
              padding: 20px 30px;
            }

            .icon{
              width: 40px;
              height: 40px;
            }
            .icon img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
              cursor: pointer;
            }
        }