*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #28282a;
  padding: 10px 20px;
  position:relative;
}

.links{
  display: flex;
}
.links li{
  list-style-type: none;
}
.links li a{
  padding: 20px;
  font-size: 1.25rem;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  transition: all 3s ease-in;
  text-align: center;
}

.links li a:hover{
  color: #12DBF6;
  text-decoration: un;
}

.logo{
  width: 40px;
  height: 40px;
}

.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hireMe{
  padding: 10px 10px;
  background-color:#12dbf6;
  color: #000000;
  font-size: 1rem;
  font-family: sans-serif;
  cursor: pointer;
}

.menu{
  width: 40px;
  height: 40px;
  display:none;
}

.menu .fa-bars{
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding: 10px 20px;
}
/* css about */
.container{
  width: 100%;
  max-width: 100%;
  background-color: #3f3f41;
}

.container h3{
  text-align: center;
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #12dbf6;
  padding: 30px 20px;
}
.aboutMeflex{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: auto;
  padding: 20px 20px;
}

.profile{
  width: 40%;
  padding: 20px 20px;
}

.pic{
  width: 400px;
  height: 400px;
  padding: 20px 0px;
}

.pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infor{
  width: 60%;
}
.profile h2{
 font-size: 1.5rem;
 font-family: sans-serif;
 font-weight: 700;
 color: #ffffff;
}

.profile h1{
 font-size: 1.5rem;
 font-family: sans-serif;
 font-weight: bold;
 color: #ffffff;
 padding: 20px 0;
}

.profile h1 span{
 color:#12dbf6;
}
.profile p{
 font-size: 1.25rem;
 font-family: sans-serif;
 font-weight: 400;
 color:lightgray;
}

.impact h1{
  font-size: 3rem;
  font-family: sans-serif;
  font-weight:900;
  color: #ffffff;
  padding: 30px 30px;
}

.impact h1 span{
  font-size: 3rem;
  font-family: sans-serif;
  font-weight:900;
  color:#12dbf6;
 
}

.impact p{
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight:400;
  color:lightgray;
  padding: 20px 20px;
  opacity: 0.5;
}

.viewcv{
  margin: 20px 30px;
}
.viewcv button{
  width: 200px;
  font-size: 1.25rem;
  background-color: #12dbf6;
  border: none;
  font-family: sans-serif;
  padding: 10px 10px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
}

.skills{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;

}

.childSkills{
  width: 100%;
  background-color:#28282a;
  transition: all 4s ease-in ;
}

.childSkills h2{
 font-family: sans-serif;
 font-size: 1.5rem;
 font-weight: 600;
 color: #ffffff;
 padding: 10px 20px;
 text-align: center;
}

.childSkills p{
 font-family: sans-serif;
 font-size: 1rem;
 font-weight:400;
 color:lightgray;
 padding: 10px 20px;
 text-align: center;
}

.childSkills:hover{
  box-shadow: 4px 4px 30px #12dbf6;
  border: 1px solid #12dbf6;
}

 .icons{
        width: 40px;
        height: 40px;
        padding: 20px 20px;
        margin: auto;
      }

      .icons i{
        width: 100%;
        height: 100%;
        color: #12DBF6;
        text-align: center;
      }
/* about css */
@media screen and (max-width: 640px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  .navbar{
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }

  .links{
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #28282a;
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow: hidden;
    text-align: center;
    }

    .links li{
    padding: 30px 20px;
    }

    .links li a{
     font-size: 1rem;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    transition: all 3s ease-in;
    text-align: center;
    }

    .links li a:hover{
    color: #12DBF6;
    text-decoration: un;
    }
    .hire{
    display: none;
    }

    .menu{
    width: 40px;
    height: 40px;
    display:block;
       
    }

.menu i{
width: 100%;
height: 100%;
color: #ffffff;
}
.links{
   transition: all 3s ease-in;
}
.container{
  width: 100%;
  max-width: 100%;
  background-color: #3f3f41;
}
.container h3{
  text-align: center;
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #12dbf6;
  padding: 30px 20px;
}
.aboutMeflex{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 20px;
  margin: auto;
  padding: 20px 20px;
}

.profile{
  width: 100%;
  padding: 20px 20px;
}

.pic{
  width:100%;
  height:100%px;
  padding: 20px 0px;
}

.pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infor{
  width: 100%;
}
.profile h2{
 font-size: 1.25rem;
 font-family: sans-serif;
 font-weight: 700;
 color: #ffffff;
}

.profile h1{
 font-size: 1.25rem;
 font-family: sans-serif;
 font-weight: bold;
 color: #ffffff;
 padding: 20px 0;
}

.profile h1 span{
 color:#12dbf6;
}
.profile p{
 font-size: 1rem;
 font-family: sans-serif;
 font-weight: 400;
 color:lightgray;
}

.impact h1{
  font-size: 2rem;
  font-family: sans-serif;
  font-weight:900;
  color: #ffffff;
  padding: 30px 30px;
}

.impact h1 span{
  color:#12dbf6;
}

.impact p{
  font-size: 1rem;
  font-family: sans-serif;
  font-weight:400;
  color:lightgray;
  padding: 20px 20px;
}

.viewcv{
  margin: 20px 30px;
}
.viewcv button{
  width: 200px;
  font-size: 1rem;
  background-color: #12dbf6;
  border: none;
  font-family: sans-serif;
  padding: 10px 10px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
}


.skills{
  display: grid;
  grid-template-columns:1fr;
  gap: 20px;

}

.childSkills{
  width: 100%;
  background-color:#28282a;
  transition: all 4s ease-in ;
}

.childSkills h2{
 font-family: sans-serif;
 font-size: 1rem;
 font-weight: 600;
 color: #ffffff;
 padding: 10px 20px;
 text-align: center;
}

.childSkills p{
 font-family: sans-serif;
 font-size: 1rem;
 font-weight:400;
 color:lightgray;
 padding: 10px 20px;
 text-align: center;
}

.icons{
        width: 40px;
        height: 40px;
        padding: 20px 20px;
        margin: auto;
      }

      .icons i{
        width: 100%;
        height: 100%;
        color: #12DBF6;
        text-align: center;
      }
.childSkills:hover{
  box-shadow: 4px 4px 30px #12dbf6;
  border: 1px solid #12dbf6;
}

}