*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #28282a;
  padding: 10px 20px;
  position:relative;
}

.links{
  display: flex;
}
.links li{
  list-style-type: none;
}
.links li a{
  padding: 20px;
  font-size: 1.25rem;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  transition: all 3s ease-in;
  text-align: center;
}

.links li a:hover{
  color: #12DBF6;
  text-decoration: un;
}

.logo{
  width: 40px;
  height: 40px;
}

.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hireMe{
  padding: 10px 10px;
  background-color:#12dbf6;
  color: #000000;
  font-size: 1rem;
  font-family: sans-serif;
  cursor: pointer;
}

.menu{
  width: 40px;
  height: 40px;
  display: block;
}

.menu .fa-bars{
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding: 10px 20px;
}

/* about css */
.about{
  width: 100%;
  background-color: #161618;
}
.aboutContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}

.profile{
  width: 50%;
  margin: auto;
  padding: 30px 20px;
}
.pic{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
}

.pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile p{
  text-align: center;
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: 700;
  padding: 20px 30px;
  color: #ffffff;
}
.profile h1{
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.profile h1 span{
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #12DBF6;
}
.aboutMe{
  width: 50%;
  padding: 30px 20px;
}

.about h3{
  font-size: 1.25rem;
  font-family: sans-serif;
  color: #12DBF6;
  font-weight: 600;
  text-align: center;
  padding: 30px 30px;
  text-decoration: underline;
}

.aboutMe h1{
  font-size: 3rem;
  font-family: sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 30px 20px;
}

.aboutMe h1 span{
  font-size: 3rem;
  font-family: sans-serif;
  color: #12DBF6;
  font-weight: bold;
  padding: 30px 20px;
}
.aboutMe p{
  font-size:1.25rem;
  font-family: sans-serif;
  color:lightgray;
  font-weight: 400;
  padding: 30px 20px;
}

.exprience{
   width: 40%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   /* background-color: #373f41; */
    gap: 20px;
    padding: 10px;
}
.child{
  width: 100%;
  background-color:#28282a;
  padding: 20px;
}

.child:hover{
  border: 1px solid #12dbf6;
}

.icon{
  width: 40px;
  height: 40px;
  margin-left: 20px;
  /* background-color: #12dbf6; */
}

.icon i{
  width: 100%;
  height: 100%;
  color: #12DBF6;
  text-align: center;
  padding-top:20px ;
}

.child h1{
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #ffffff;
  font-weight: bold;
  margin-left: 20px;
}


.child p{
  font-size: 1.24rem;
  font-family: sans-serif;
  color: lightgray;
  font-weight: 400;
  margin-left: 20px;
  padding-top: 10px;
}

/* @media */

@media screen and (max-width:640px) {
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  .navbar{
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }

 
  .navbar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #28282a;
    padding: 10px 20px;
   }

  .links{
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #28282a;
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow: hidden;
    text-align: center;
  }

  .links li{
    padding: 30px 20px;
  }

  .links li a{
  font-size: 1rem;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  transition: all 3s ease-in;
  text-align: center;
}

.links li a:hover{
  color: #12DBF6;
  text-decoration: un;
}
.hire{
  display: none;
}

.menu{
  width: 40px;
  height: 40px;
  display:block;
}

.menu i{
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.links{
  transition: all 3s ease-in;
}
/* about css */
.about{
  width: 100%;
  max-width: 100%;
  background-color: #161618;
}
.aboutContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.profile{
  width: 100%;
}
.pic{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 20px 20px;
}

.pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile p{
  text-align: center;
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: 700;
  color: #ffffff;
  padding: 20px 20px;
}
.profile h1{
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.profile h1 span{
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #12DBF6;
}
.profile{
  width: 400px;
  height: 400px;
}

.about h3{
  font-size: 1.25rem;
  font-family: sans-serif;
  color: #12DBF6;
  font-weight: 600;
}
.aboutMe{
  width: 100%;
  
}

.aboutMe h1{
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 30px 20px;
}

.aboutMe h1 span{
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #12DBF6;
  font-weight: bold;
  padding: 30px 20px;
}
.aboutMe p{
  font-size:1rem;
  font-family: sans-serif;
  color:lightgray;
  font-weight: 400;
  padding: 30px 20px;
}

.exprience{
  width: 100%;
  display: grid;
  grid-template-columns:1fr;
  padding: 10px;
}
.child{
  width: 100%;
  background-color:#28282a;
}

.icon{
  width: 40px;
  height: 40px;
  margin: auto;
  text-align: center;
}

.icon i{
  width: 100%;
  height: 100%;
  color: #12DBF6;
  text-align: center;
  padding:10px ;
}

.child h1{
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #ffffff;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  padding: 20px;
}

.child:hover{
  border: 1px solid #12dbf6;
}


.child p{
  font-size: 1rem;
  font-family: sans-serif;
  color: lightgray;
  font-weight: 400;
  margin: 10px;
  padding: 10px;
  text-align: center;
  
}

}
